@import '../../Phone_Master/scss/default.scss';

.block {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
    .block-item {
        border: 1px solid gray;
    }
    .player {
        background-color: green;
        z-index: 2;
    }
    .apple {
        background-color: red;
    }
}